* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #001d30;
}

nav {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #02618f;
  color: #ffffff;
}

nav h1 {
  display: inline-block;
  font-size: 36px;
}

nav h1 .portfolio {
  color: #99b57d;
}

nav div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

nav div ul {
  list-style-type: none;
}

nav div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #cdddcc;
  text-decoration: none;
}

a:hover {
  color: rgb(192, 231, 53);
  text-decoration: underline;
}

p {
  font-size: 16px;
}

.profilepic {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  width: 25%;
  border-radius: 50%;
}

.coverphoto {
  position: static;
  height: 600px;
  width: 100%;  
}

article div h2, article div p {
  position: absolute;
  text-align: right;
}

article div h2 {
  margin-top: -10%;
  margin-left: 5%;
  text-shadow: 2px 2px #00000088;
}

article div p {
  margin-top: -5%;
  margin-left: 5%;
  text-shadow: 2px 2px #00000088;
}
#my-work-aside, #about-me-aside, #contact-me-aside {
  width: 15%;
  clear: left;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-left: 30px;
  padding: 40px;
}

#contact-me-aside {
  position: relative;
  bottom: -250px;
}

#my-work-aside {
  height: 775px;
}

article {
  width: 80%;
  clear: right;
  float: right;
}

.about-me-text, .contact-me-text {
  width: 80%;
  clear: right;
  float: right;
  text-align: center;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.contact-me-text {
  word-spacing: 200px;
  font-size: 20px;
}

.main-example img {
  filter:blur(4px);
}

.main-example, .example1, .example2, .example3, .example4 {
  margin: 1px;
  padding: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  clear: right;
}

.main-example:hover, .example1:hover, .example2:hover, .example3:hover, .example4:hover {
  color: yellow;
  text-decoration: underline;
}

.example1, .example2, .example3, .example4 {
  width: 49.5%;
  height: 49.5%;
}

.example1, .example3 {
  float: left;
}

.example2, .example4 {
  float: right;
}

main section article div img:hover {
  opacity: 0.45;
}

main section div ul {
  list-style-type: none;
}

main section div ul li {
  display: inline-block;
  margin-left: 25px;
}